.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    box-sizing: border-box;
    border-radius: 6px;
    background-color: rgb(230, 67, 67);
    width: 600px;
  }

  &__header-wrapper {
    padding: 20px 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__header-text {
    margin: 0;
    color: white;
  }

  &__text {
    color: white;
    text-align: center;
    margin: 30px;
    line-height: 1.8;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.btn__close {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: 0;
  font-size: 25px;
}


