.actions__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions__btn {
  margin: 10px;
  padding: 10px 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  font-size: 16px;
}

.actions__btn-second {
  margin: 10px;
  padding: 10px 0;
  border: none;
  background-color: white;
  color: red;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: 80px;
}

.btn__wrapper {
  text-align: center;
}
