.footer {
  background-color: #000;
  text-align: center;
}

.container--footer {
  padding-top: 66px;
  padding-bottom: 70px;
  @include onTablet {
    padding-top: 57px;
    padding-bottom: 57px;
  }
  @include onMobile {
    padding-top: 38px;
    padding-bottom: 47px;
  }
}

.footer__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
    @include onMobile {
      font-size: 14px;
    }
}

.footer__text {
  max-width: 685px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 28px;
  color: $color-footer-text;
    @include onMobile{
      font-size: 12px;
      line-height: 20px;
    }
}

.footer__list{
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin-top: 37px;
  margin-bottom: 34px;
}

.footer__item{
  padding-right: 6px;
}

.footer__link{
  text-decoration: none;
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    @media (max-width: 625px){
      flex-direction: column;
      flex-wrap: wrap;
    }
}

.footer-contacts__address{
  display: inline;
  font-size: 16px;
  line-height: 26px;
  color: $color-footer-text;
  text-decoration: none;
  padding-right: 10px;
    @include onMobile{
      font-size: 14px;
      line-height: 24px;
    }
}

.footer-contacts__phone{
  @extend .footer-contacts__address;
  text-decoration: none;
}

.footer-contacts__mail{
  @extend .footer-contacts__phone;
}

.footer-contacts__line{
  @extend .footer-contacts__address;
}