.container--header {
  padding: 48px 150px 48px 150px;
  @include onTablet {
    padding: 43px 80px;
  }
  @media (max-width: 600px) {
    padding: 23px;
  }
  @include onMobile {
    padding: 23px 5px;
  }
}

.burger-button {
  display: none;
  @include onMobile {
    display: block;
    background-image: url(/src/img/burger.svg);
    padding: 0;
    border: none;
    background-color: #000;
    width: 44px;
    height: 37px;
    cursor: pointer;
    margin-right: 0px;
    margin-left: auto;
  }
  &--active {
    background-image: url(/src/img/burgerclose.svg);
  }
}

.header-menu-column {
    @include onMobile {
    display: none;
    &--open{
        display: grid;
    }
  }
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @include onMobile{
    flex-direction: column;
    text-align: left;
    background-color: #F5F5F5;
    width: 182px;
    position: absolute;
    right: 0;
    margin-right: 5px;
  }
}

.header-nav__item {
  list-style: none;
}

.header-nav__link {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 22px;
  text-decoration: none;
  color: $color-grey-light;
  @include onMobile {
    display: block;
    padding: 5px 0 5px 15px;
    &:hover {
        background-color: #E5E5E5;
      }
  }
  &--active{
    color: #57a4a4;
  }
}

