.container--insta {
  padding-top: 47px;
  padding-bottom: 49px;
}

.insta {
  background-color: #f7f7f7;
}

.insta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  @include onTablet {
    margin-bottom: 35px;
  }
  @include onMobile {
    margin-bottom: 13px;
  }
}

.insta__title {
  font-size: 16px;
}

.insta__page {
  font-size: 13px;
  @include onMobile {
    display: none;
  }
}

.insta__page-link {
  text-decoration: none;
}

.insta__list {
  display: flex;
  gap: 10px;
  list-style: none;
  justify-content: center;
  @include onTablet{
    gap: 9px;
  }
}

.insta__item:first-child {
  display: flex;
  @include onMobile {
    width: 300px;
    height: 300px;
  }
}

.insta__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.insta__item:last-child {
  @include onTablet {
    display: none;
  }
}

.insta__item:nth-child(3) {
  @media (max-width: 600px) {
    display: none;
  }
}

.insta__item:nth-child(2) {
  @include onMobile {
    display: none;
  }
}


