.container--posts {
  padding-top: 66px;
  padding-bottom: 70px;
  @include onTablet{
    padding-top: 56px;
    padding-bottom: 60px;
  }
  @include onMobile{
    padding-top: 38px;
    padding-bottom: 39px;
  }
}

.posts__title{
  margin-bottom: 24px;
  font-size: 16px;
}

.posts__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  @media (max-width: 960px){
    grid-template-columns: 1fr;
  }
  @include onMobile{
    gap: 28px;
  }
}

.posts__link {
  text-decoration: none;
  display: flex;
  @include onMobile{
    flex-direction: column;
  }
}

.posts__description {
  margin-left: 20px;
  @include onMobile{
    margin-left: 0;
  }
}

.posts__description-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $color-grey-dark;
  @include onMobile{
    font-size: 14px;
    padding-top: 11px;
  }
}

.posts__description-wrapper {
  display: flex;
  gap: 8px;
  margin-top: 1px;
}

.posts__description-journal {
  font-size: 12px;
  line-height: 20px;
  color: $color-grey-light;
}

.posts__description-divider {
  @extend .posts__description-journal;
}

.posts__description-comments {
  @extend .posts__description-journal;
  @include onMobile{
    font-size: 11px;
  }
}

.posts__description-text {
  color: $color-text;
  font-size: 14px;
  line-height: 26px;
  margin-top: 13px;
  @include onMobile{
    display: none;
  }
}
