body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  margin: 63px auto 30px;
}
.page-header-logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  text-decoration: none;
  display: block;
}
.logo-accent-color {
  color: #4bcaff;
}
.page-header-list {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #35444f;
  margin-top: 38px;
  text-align: center;
}
.header-item-link {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  padding: 20px 30px;
  border-right: 1px solid #fff;
}
.header-item-link:first-child {
  border-left: 1px solid #fff;
}
.header-item-link:hover {
  background-color: #222f3a;
}
.page-content {
  display: flex;
  margin-top: 48px;
  margin-bottom: 54px;
}
.aside-list {
  list-style: none;
  width: 344px;
  border: 1px solid #000000;
}
.aside-item-link {
  display: block;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #485863;
  padding: 25px 44px;
}
.aside-item-link:hover {
  padding-left: 75px;
  color: #35444f;
  background-color: #dbdbdb;
}
.main-content {
  margin-left: 52px;
}
.main-picture {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
}
.picture {
  transition: 1s;
  margin: 74px auto;
}
.picture:hover {
  transform: scale(1.1);
}
.main-text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.main-text-margin {
  margin: 37px 0 34px 0;
}
.footer-list {
  list-style: none;
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);
  align-items: center;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
}
.footer-list-link {
  display: inline-block;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  text-decoration: none;
  padding: 13px 0;
  margin: 7px 0;
}
.footer-list-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  padding: 13px 0 12px 0;
}
.footer-list-copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding-left: 135px;
}
