.header{
    padding: 12px 80px 12px;
    background-color: rgba(24, 24, 24, 0.96);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    display: flex;
    padding: 0;

}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__counters{
    font-size: 13px;
    padding: 2px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: orange;
    border-radius: 50%;
    transform: translateX(-15px);
}

.header__basket{
    margin-right: 8px;
}

