.load {
  height: 20px;
  width: 20px;
  border: 4px solid gray;
  border-right-color: transparent;
  border-radius: 50%;

  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
