body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1024px;
  margin: 51px auto 15px;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-link {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 47px;
  text-decoration: none;
  flex-wrap: wrap;
  background-image: url(../img/logo_orange.png);
  background-repeat: no-repeat;
}
.header-logo-link:hover {
  background-image: url(../img/logo_white.png);
}
.header-logo-link:hover > .header-logo-text {
  color: #f26522;
}
.header-logo-text {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 63px;
}
.header-logo-text-big {
  font-size: 29px;
  line-height: 29px;
}
.page-header-email {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
}
.page-header-phone {
  text-decoration: none;
  display: block;
  text-align: end;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
}
.page-header-email:hover {
  color: #f26522;
}
.page-header-phone:hover {
  color: #f26522;
}
.page-content {
  list-style: none;
  margin-top: 17px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 220px 220px;
  gap: 78px 62px;
}
.page-content-item {
  position: relative;
}
.page-content-link {
  text-decoration: none;
}
.page-content-menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  background-color: #f26522;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.page-content-link:hover > .page-content-menu,
.page-content-text {
  z-index: 1;
}
.page-content-link:hover > .page-content-text {
  color: #f26522;
}
.content-menu-text {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  padding: 8px 0 8px 16px;
}
.content-menu-price {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  padding-left: 16px;
  padding-bottom: 12px;
}
.content-menu-view {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  padding: 29px 16px 12px 0;
}
.content-menu-view::after {
  content: url(../img/pointer.svg);
  margin-left: 16px;
  display: inline-block;
  vertical-align: middle;
}
.page-content-text {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
.page-footer {
  margin-top: 90px;
}
.footer-text {
  color: #fff;
  text-align: center;
}
