body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.body-hidden {
  overflow: hidden;
}

.hidden-field,
.hidden-btn {
  display: none;
}

.add-post--form {
  background-color: rgba(6, 6, 6, 0.75);
  position: fixed;

  text-align: center;
  height: 100vh;
  width: 100vw;

  overflow: hidden;

  z-index: 1;
}

.add-post--form-wrapper {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 24px;
}

.new-post__submit {
  margin: 0 auto;
  border: none;
  background-color: blue;
  color: #fff;
  border-radius: 24px;
  height: 36px;
  width: 150px;
}

label {
  margin-bottom: 12px;
}

.hidden {
  display: none;
}

input {
  margin-bottom: 20px;
}

.card {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 24px;
  width: 500px;
  background-color: lightgoldenrodyellow;
  border-radius: 24px;
}

.card__title {
  margin-top: 0;
}

.card__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.card__edit-form {
  display: flex;
  flex-direction: column;
}