.page-order__wrapper{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid rgb(242, 241, 241);
    box-sizing: border-box;
}

.order__wrapper{
    width: 700px;
}

.order__text {
    font-size: 40px;
    color: #313237;
    margin-left: 30px;
}

.form__wrapper{
    padding: 50px;
    border-left: 2px solid rgb(242, 241, 241);
}

