body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include onMobile{
      padding-left: 5px;
      padding-right: 5px;
    }
}

.sections__title {
    text-transform: uppercase;
    color: $color-grey-dark;
    font-weight: 700;
    line-height: 22px;
    @include onMobile {
      font-size: 14px;
    }
  }
