@mixin onDesktop {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin onTablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin onMobile {
    @media (max-width: 470px) {
        @content;
    }
}
