body {
  background-color: #171717;
}
.container {
  width: 1095px;
  margin: 0 auto;
}
.header-page {
  margin-top: 28px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-contact {
  display: flex;
  align-items: center;
}
.header-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-decoration: none;
  color: #fff;
  margin-right: 29px;
}
.header-call {
  border: 1px solid #e4b564;
  display: flex;
  padding: 7px 18px;
}
.header-call-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin-left: 7px;
}
.header-accent-color {
  color: #d6af76;
}
.services {
  background-image: url(../img/header-bg.jpeg);
  background-attachment: fixed;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.section-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin: 31px 0;
}
.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 351px);
  gap: 20px;
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
}
.services-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
}
.services-item-one {
  background-color: #634f2c;
  grid-area: item1;
}
.services-item-two {
  background-color: #b4a385;
  grid-area: item2;
}
.services-item-three {
  background-color: #e4b564;
  grid-area: item3;
}
.services-item-four {
  background-color: #635a4a;
  grid-area: item4;
}
.services-item-five {
  background-color: #b08c4d;
  grid-area: item5;
}
.technics {
  margin-bottom: 143px;
}
.technics-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  max-height: 712px;
  margin-top: 94px;
}
.technicks-item {
  width: 350px;
  color: #fff;
  margin-bottom: 14px;
}
.technicks-item-one {
  background-color: #0e0e0e;
  min-height: 249px;
  margin-bottom: 18px;
}
.technicks-item-two {
  background-color: #242424;
  min-height: 419px;
}
.technicks-item-three {
  background-color: #1f1f1f;
  min-height: 343px;
  margin-bottom: 25px;
}
.technicks-item-four {
  background-color: #e4b564;
  min-height: 309px;
}
.technicks-item-five {
  background-color: #1f1f1f;
  min-height: 199px;
}

.technicks-item-six {
  background-color: #0e0e0e;
  min-height: 243px;
}
.technicks-item-seven {
  background-color: #0a0909;
  min-height: 216px;
}
.technicks-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  padding-left: 39px;
  padding-top: 35px;
}
.technicks-text-black {
  color: #000;
}
.technicks-text-bold {
  font-weight: 700;
}
.project {
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  margin-bottom: 178px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.project-title-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding: 7px 30px;
  border: 1px solid #e4b564;
  background-color: #171717;
}
.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 293px;
}
.project-item {
  list-style: none;
}
.project-item-wraper {
  display: flex;
  flex-direction: column;
  padding: 130px 60px 0;
  transition: 1s;
}
.project-item-img {
  margin: 0 auto;
}
.project-item-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  margin-top: 12px;
  opacity: 0;
}
.project-item-wraper-second {
  padding-top: 95px;
}
.project-item-wraper:hover {
  padding-top: 70px;
}
.project-item-wraper-second:hover {
  padding-top: 30px;
}
.project-item-wraper:hover > .project-item-text {
  opacity: 1;
}
.project-item-one {
  background-image: url(../img/back.jpeg);
  background-size: 365px 293px;
  transition: 1s;
}
.project-item-one:hover {
  background-size: 120% 120%;
}
.project-item-two {
  background-image: url(../img/back33.jpeg);
  background-size: 365px 293px;
  transition: 1s;
}
.project-item-two:hover {
  background-size: 120% 120%;
}
.project-item-three {
  background-image: url(../img/back2.jpeg);
  background-size: 365px 293px;
  transition: 1s;
}
.project-item-three:hover {
  background-size: 120% 120%;
}
.project-item-four {
  background-image: url(../img/back8.jpeg);
  background-size: 365px 293px;
  transition: 1s;
}
.project-item-four:hover {
  background-size: 120% 120%;
}
.project-item-five {
  background-image: url(../img/back11.jpeg);
  background-size: 365px 293px;
  transition: 1s;
}
.project-item-five:hover {
  background-size: 120% 120%;
}
.project-item-six {
  background-image: url(../img/back22.jpeg);
  background-size: 365px 293px;
  transition: 1s;
}
.project-item-six:hover {
  background-size: 120% 120%;
}
