body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 18px 79px 18px;
}
.header-logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-icon {
  margin-right: 25px;
  fill: white;
}
.header-icon:hover {
  fill: #01813f;
}
.header-icon-svg {
  margin-right: 25px;
  fill: #01813f;
}
.header-text {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.header-text::before {
  content: "";
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  padding-right: 27px;
}
.header-log-in,
.header-sing-up {
  text-decoration: none;
  color: #fff;
}
.header-logo:hover,
.header-log-in:hover,
.header-sing-up:hover {
  color: #236d47;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 712px;
}
.page-form {
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  width: 444px;
  padding: 31px 61px 38px 61px;
  position: relative;
}
.form-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.form-sing-up {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.page-form::before {
  content: "";
  border-left: 18px solid #3cb878;
  height: 18px;
  position: absolute;
  left: 0;
}
.form-log-in {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}
.form-log-in:hover {
  text-decoration: underline;
  color: #01813f;
}
.form-log-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-log-in-social {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.log-in-facebook {
  background-color: #305db8;
}
.log-in-facebook:hover {
  background-color: #022263;
}
.log-in-facebook-img {
  padding-left: 15px;
}
.log-in-facebook-text::before {
  content: "";
  border-right: 1px solid #0a162f;
  opacity: 0.1;
  margin-right: 18px;
}
.log-in-facebook-text {
  padding: 16px 20px 16px 20px;
}
.log-in-google {
  background-color: #df4a32;
  display: flex;
}
.log-in-google:hover {
  background-color: #ab1f09;
}
.log-in-google-img {
  padding-left: 10px;
}
.log-in-google-text {
  padding: 16px 27px 16px 8px;
}
.log-in-google-text::before {
  content: "";
  border-right: 1px solid #2b0d09;
  opacity: 0.1;
  margin-right: 30px;
}
.form-line {
  margin-top: 31px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.form-line::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
}
.form-line-text {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin-top: 0;
  padding-left: 2px;
  padding-right: 2px;
  position: absolute;
  background-color: #fff;
  bottom: -6px;
}
.form-input {
  width: 100%;
  height: 46px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 15px;
  padding-left: 19px;
}
.form-input::placeholder {
  color: #bebebe;
}
.form-input-last {
  margin-bottom: 12px;
}
.form-input:focus {
  color: #434343;
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + .checkbox-label {
  display: flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + .checkbox-label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0.0001);
  background-repeat: no-repeat;
  background-position: center center;
}
.custom-checkbox:checked + .checkbox-label::before {
  background-image: url(../img/checkbox.svg);
}
.checkbox-input-text {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  margin-right: 3px;
}
.checkbox-input-color {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}
.checkbox-input-color:hover {
  color: #01813f;
  text-decoration: underline;
}
.form-button {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background-color: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  width: 324px;
  height: 46px;
  margin-top: 20px;
  cursor: pointer;
}
.form-button:hover {
  background-color: #01813f;
}
