body {
  font-family: "Montserrat", sans-serif;
  color: #373737;
}
.header-menu {
  text-align: center;
}
.header-menu-list {
  list-style: none;
  display: inline-block;
  margin: 25.5px 0;
}
.header-menu-item {
  display: inline-block;
}
.header-menu-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-right: 72px;
}
.banner {
  width: 100%;
}
.title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  text-align: center;
  margin: 48px 0 38px 0;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  /* margin: 28px 0; */
  margin-bottom: 28px;
}
.container {
  width: 1145px;
  margin: 0 auto;
}
.footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-align: right;
  margin: 40px 0 29px;
  padding: 0 180px;
}
.button {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  background-color: #ff0000;
  display: block;
  padding: 18px 43px;
  margin: 66px auto 82px auto;
  border-radius: 4px;
  border: none;
}
