.card {
  margin: 0 auto;
  width: 550px;
  border: 1px solid lightgrey;
  border-bottom: none;
  padding: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.card:last-child {
  border-bottom: 1px solid lightgrey;
}

p {
  margin: 0;
}

.card__userName {
  font-weight: bold;
}

.card__title {
  margin-bottom: 10px;
}

.card__userEmail {
  color: rgb(125, 125, 125);
  margin-left: 10px;
}

.card__delete-btn {
  padding: 0;
  border: none;
  background: none;
  color: rgb(125, 125, 125);
  cursor: pointer;
  margin-top: 10px;
}
