.product-list__container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 20px;

  &__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 20px;
  }

  &__star{
    cursor: pointer;
  }

  &__img {
    width: 500px;
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
  }

  &__buy {
    display: flex;
    align-items: center;
  }

  &__price {
    font-weight: bold;
    font-size: 20px;
    margin-right: 100px;
  }

  &__add-to-fav{
    display: flex;
    border: none;
    background-color: transparent;
  }
}

.quantity__btn{
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 25px;
  border: none;
}